//----------------------------
// compass
//----------------------------
@import "compass/css3";
@import "compass/reset";

//----------------------------
// digitaria base theme
//----------------------------
@import "digitaria/general";
@import "digitaria/layouts";
@import "digitaria/ui";

/** Defaults **/
* {
	@include box-sizing(border-box);
}
body {
	background-color: $color-page-background;
	color: $color-default;
	@include type-body();
}
a {
	color: $color-primary;
	text-decoration: none;
	&:hover, &:focus, &.active {
		color: lighten($color-primary, 10%);
	}
}